:root {
    --color01:rgb(252, 248, 233);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: var(--color01);
}

.heasder-logo {
  height: 80px;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.items {
  display: flex;
  list-style-type: none;
}

.item {
  margin: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.item a {
  text-decoration: none;
}

.item a:hover {
    color: #e34f4f;
}
